.container {
  width: 27.875rem;
  border: 3px solid #1ed760;
  padding: 2.25rem 3.5rem 2.5rem 3.5rem;
  border-radius: 4.0625rem;
  display: flex;
  gap: 1.125rem;
}
.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.icon {
  transition: transform 0.3s ease;
}

.icon path {
  transition: fill 0.3s ease;
}

.btn:hover .icon {
  transform: translateY(-14px);
}
.btn:hover .icon path {
  fill: #1181f1;
}

@media (max-width: 425px) {
  .container {
    padding: 1rem 1rem 1rem 1rem;
    width: 24rem;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 1rem 0rem 1rem 0rem;
    width: 22rem;
    gap: 0.3rem;
    justify-content: center;
  }
}
