.container {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container img {
  width: 69px;
}
.container h6 {
  padding-top: 33px;
  padding-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #4074f8;
}
.container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
}
