.section {
  background-color: #f5f8ff;
}
.container {
  margin: auto;
  width: 75.375rem;
  display: flex;
  gap: 55px;
  padding-top: 100px;
  padding-bottom: 80px;
  justify-content: end;
}
.block1 {
  width: 413px;
  /* border: 1px solid red; */
}
.block1 h5 {
  padding-top: 38px;
}
.block1 h2 {
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}
.block1Title {
  font-weight: 400;
}
.block1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  padding-bottom: 65px;
}
.block2 {
  width: 40.8125rem;
  /* border: 1px solid red; */
}
.block2 img {
  max-width: 40.8125rem;
  object-fit: contain;
}
.blockBtns {
  display: flex;
  flex-direction: row;
}
