.container {
  display: flex;
  width: 547px;
  gap: 3.3125rem;
  align-items: center;
}
.container a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
}
