.container {
  display: flex;
  width: 34.1875rem;
  gap: 3.3125rem;
  align-items: center;
}
.container a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
}

/* планшеты */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 20rem;
    gap: 2rem;
  }
}
/* большие телефоны */
@media (min-width: 376px) and (max-width: 767px) {
  .container {
    display: none;
  }
}
/* маленькие телефоны */
@media (max-width: 375px) {
  .container {
    display: none;
  }
}
