.navCities {
  display: flex;
  justify-content: space-between;
}
.navLink {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #d0e8ff;
}
