.vacancySecion {
  background-color: #e4f2ff;
}
.container {
  margin: auto;
  max-width: 107.5rem;
  padding: 0rem 1rem 9rem 1rem;
}
.container h2 {
  padding: 3.875rem 0rem 0.75rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.85);
}
.container p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: rgba(141, 141, 141, 0.8);
  padding-bottom: 2.625rem;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.5rem;
  padding-bottom: 5rem;
}
