.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.light {
  background-color: rgb(219, 244, 247);
  color: #1f3c88;
}

.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.title {
  font-size: 24px;
}
