.home {
  margin: auto;
  background-color: #0c0417;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12.1875rem;
}

.title {
  padding: 6.9375rem 0rem 2rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #1ed760;
}
.text {
  width: 6.75rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #1ed760;
  text-align: center;
  padding-bottom: 4.3125rem;
}
