.home {
  margin: auto;
  background-color: #0c0417;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 195px;
}

.title {
  padding: 111px 0px 32px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #1ed760;
}
.text {
  width: 108px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #1ed760;
  text-align: center;
  padding-bottom: 69px;
}
