.answer {
  margin-top: 1rem;
}

.answer input {
  padding: 8px;
  width: 100px;
  font-size: 16px;
  margin-left: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.answer button {
  margin-left: 1rem;
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  border-radius: 0.5rem;
  background-color: #4ca2af;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.answer button:hover {
  background-color: #4389a0;
}
