.btn {
  height: 43px;
  min-width: 113px;
  padding: 0 24px;

  background-color: #d2e1ff;
  color: #3a79ff;

  font-size: 16px;
  font-weight: 600;

  border: none;
  border-radius: 12px;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.btn:hover {
  background-color: #dbe6ff;
}

.btn:active {
  transform: scale(0.97);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
