.footer {
  padding: 16px 32px;

  text-align: center;
}

.copy {
  font-size: 14px;
  margin-bottom: 6px;
}

.info {
  font-size: 12px;
  opacity: 0.85;
}

.light {
  background-color: rgb(219, 244, 247);
  color: #1f3c88;
}

.dark {
  background-color: #121212;
  color: #aaaaaa;
}
