.nav {
  padding: 16px 24px;
}

.nav__list {
  display: flex;
  gap: 2.625rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697ca6;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.nav__link:hover {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #5e81fe;
  text-shadow: 0px 0px 5px #e6e6e6;
}
