header {
  background-color: #cde7ff;
}

.container {
  margin: auto;
  display: flex;
  max-width: 107.5rem;
  /* border: 1px solid red; */
  padding: 1.875rem 1rem 1.875rem 1rem;
  justify-content: space-between;
}

.container img {
  padding-right: 6.8125rem;
}
.containerBlock1 {
  display: flex;
}

@media (max-width: 1440px) {
  .container {
    max-width: 87rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
