.nav {
  display: flex;
  justify-content: center;
}
.navLink {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
  text-decoration: none;
}
.navLink.active {
  color: #0d50ff;
}
