.nav {
  display: flex;
  justify-content: center;
}
.navLink {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
  text-decoration: none;
}
.navLink.active {
  color: #0d50ff;
}
.basketIcon {
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
}

/* Tablet */
@media (max-width: 900px) {
  .navLink {
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .navLink {
    font-size: 12px;
  }
  .basketIcon {
    width: 16px;
    height: 16px;
  }
}
