.nav {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  padding: 1rem;
}
.navLink {
  color: rgb(133, 37, 37);
  margin: 0 1rem;
  text-decoration: none;
}
.navLink.active {
  font-weight: bold;
  text-decoration: underline;
}
